:root {
  --main-action-color: #0d6efd;
}

html {
  scroll-behavior: smooth;
}

*,
body {
  margin: 0;
  padding: 0;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.social-media-app-img {
  width: 24px;
  height: 24px;
}

.ar-txt {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
}

#content {
  text-align: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.with-background-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.background-img {
  flex-shrink: 0;
  width: 100vw;
  min-width: 100%;
}

.background-txt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-shadow: 2px 2px 2px var(--main-action-color);
}

.parallax {
  position: relative;
}

.between-parallax {
  height: 220px;
}

.background-img-cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.collapsible-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.collapsible-content-display {
  overflow: hidden;
  display: none;
}
